*,
*::after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------VARIABLES------ */

:root {
  --FF: "Outfit", sans-serif;
  --FF-HEADING: "Young Serif", serif;
  --FS: 16px;

  --BG-COLOR-RECIPE: hsl(0, 0%, 100%);
  --BG-COLOR-BODY: hsl(30, 54%, 90%);
  --BG-COLOR-Prep-Time: hsl(330, 100%, 98%);

  --FONT-COLOR-HEADING-1: hsl(24, 5%, 18%);
  --FONT-COLOR-HEADING-2: hsl(332, 51%, 32%);
  --FONT-COLOR-HEADING-3: hsl(14, 45%, 36%);
  --FONT-COLOR: hsl(30, 10%, 34%);

  --LIST-ITEM-COLOR-1: hsl(14, 45%, 36%);
  --LIST-ITEM-COLOR-2: hsl(332, 51%, 32%);

  --BORDER-COLOR: hsl(30, 18%, 87%);
  --BORDER: 1px solid var(--BORDER-COLOR);
}

/* ------BODY------ */

body {
  align-items: center;
  background-color: var(--BG-COLOR-BODY);
  color: var(--FONT-COLOR);
  display: flex;
  flex-direction: column;
  font-size: var(--FS);
  justify-content: center;
  font-family: var(--FF);
}

/* ------IMAGE------ */

img {
  border-radius: 1.2rem;
  display: flex;
  flex: 1;
  max-width: 100%;
  height: auto;
}

/* ------LIST------ */

ul,
ol {
  margin: 1rem 0 0 1.5rem;
}

li::marker {
  color: var(--LIST-ITEM-COLOR-1);
}

li {
  padding-left: 1rem;
  line-height: 2rem;
}

/* ------RECIPE------ */

#recipe {
  background-color: var(--BG-COLOR-RECIPE);
  border-radius: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 6rem 0;
  max-width: 735px;
  padding: 2.4rem;
}

/* ------HEADINGS------ */

h1,
h2:not(div h2) {
  font-family: var(--FF-HEADING);
  font-size: 1.8rem;
  color: var(--FONT-COLOR-HEADING-3);
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  color: var(--FONT-COLOR-HEADING-1);
}

/* ------FIRST-SECTION------ */

#recipe section:first-child {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

div {
  background-color: var(--BG-COLOR-Prep-Time);
  padding: 2rem;
  border-radius: 1rem;
}

div h2 {
  color: var(--FONT-COLOR-HEADING-2);
  font-size: 1.25rem;
}

div h2,
div strong {
  font-weight: 600;
}

div li::marker {
  color: var(--LIST-ITEM-COLOR-2);
}

/* ------INGREDIENTS-SECTION------ */

#ingredients,
#instructions {
  padding-bottom: 2rem;
  border-bottom: var(--BORDER);
}

/* ------INSTRUCTIONS-SECTION------ */

#instructions li {
  line-height: 1.4rem;
  margin-top: 0.5rem;
}

/* ------NUTRITION-SECTION------ */

#nutrition p {
  margin: 1rem 0;
}

#nutrition table {
  width: 100%;
  border-collapse: collapse;
}

#nutrition tr td:first-child {
  padding-left: 1.6rem;
}

#nutrition tr td:last-child {
  color: var(--FONT-COLOR-HEADING-3);
  font-weight: 700;
  padding-right: 1.6rem;
}

#nutrition td {
  padding: 0.5rem;
}

#nutrition tr td:not(tr:last-child td) {
  border-bottom: var(--BORDER);
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
